firstadf067/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "firstadf067"
		},
		"DS_READ_LOOKUP_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_READ_LOOKUP'"
		},
		"LS_ADLS_TARGET_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_TARGET_CSV'"
		},
		"Ls_ADLS_SOURCE_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_ADLS_SOURCE_CSV'"
		},
		"DS_READ_LOOKUP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stoageaccount089.dfs.core.windows.net/"
		},
		"LS_ADLS_TARGET_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stoageaccount089.dfs.core.windows.net/"
		},
		"Ls_ADLS_SOURCE_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stoageaccount089.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_READ_LOOKUP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_READ_LOOKUP_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_READ_LOOKUP_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_TARGET_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_TARGET_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_TARGET_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_ADLS_SOURCE_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_ADLS_SOURCE_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_ADLS_SOURCE_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BINARY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_READ_LOOKUP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_READ_LOOKUP"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "blobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_READ_LOOKUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_TARGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_TARGET_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_TARGET"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "bihar_election_results.csv",
						"folderPath": "Processedfile",
						"fileSystem": "blobcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_TARGET_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DYNAMIC_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_READ_LOOKUP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FILENAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DS_READ_LOOKUP"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FILENAME",
							"type": "Expression"
						},
						"fileSystem": "blobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_READ_LOOKUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DYNAMIC_CSV_TARGET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_READ_LOOKUP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TARGET_FILENAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DS_READ_LOOKUP"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TARGET_FILENAME",
							"type": "Expression"
						},
						"folderPath": "Proceesedfiles",
						"fileSystem": "blobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_READ_LOOKUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_READ_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_ADLS_SOURCE_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_DATASETS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "bihar_election_results.csv",
						"fileSystem": "blobcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_ADLS_SOURCE_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_ACTIVITY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFILE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Constituency Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ConstituencyNumber",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Constituency Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ConstituencyName",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SerialNumber",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Candidate Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CandidateName",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Party",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Party",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EVM Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EVMVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postal Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PostalVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Votes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalVotes",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vote Percentage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vote Percentage",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_READ_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_TARGET",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyFILE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_READ_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_READ_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_TARGET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FILE_DYNAMIC_ACTIVITY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata info",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_BINARY",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Filter_csv_file",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata info",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata info').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "For each_csvfile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_csv_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_csv_file').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy_dynamic_csvfile",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_DYNAMIC_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FILENAME": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DYNAMIC_CSV_TARGET",
											"type": "DatasetReference",
											"parameters": {
												"TARGET_FILENAME": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BINARY')]",
				"[concat(variables('factoryId'), '/datasets/DS_DYNAMIC_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_DYNAMIC_CSV_TARGET')]"
			]
		}
	]
}